@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    @apply w-[100px] bg-gray-100
}

::-webkit-scrollbar-thumb {
    width: 100px;
    background-color: blue;
    @apply bg-gray-200
}